body {
  padding: 1em;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: blue;
}
div.container {
    width: 100%;
    border: 4px solid black;
}

.fldname {
  color: black;
  /*font-weight: bold;*/
  position: static;
  display: inline-block;
  vertical-align: text-top;
  /*margin-left: 270px;*/
}
#title {
  color: black;
  font-weight: bold;
  width: 175px;
  position: relative;
  border: none;
  /*box-sizing: border-box;
  background-color: #f8f8f8;
  border: 2px solid #ccc;
  top: 0px;
  left: 0px;*/
}
#field {
  color: blue;
  font-weight: normal;
  position: relative;
  /*box-sizing: border-box;*/
  background-color: #f8f8f8;
  border: 2px solid #ccc;
  top: 0px;
  left: 0px;
}
#field-entry {
  color: blue;
  font-weight: normal;
  position: relative;
  /*box-sizing: border-box;*/
  background-color: #f8f8f8;
  border: 2px solid #ccc;
  top: 0px;
  left: 0px;
}
header, footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}

nav {
    float: left;
    width: 160px;
    margin: 0;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul a {
    text-decoration: none;
}

article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: auto;
}

p {
    /*margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;*/
}

a {
  color: #00B7FF;
}

h3 {
  color: red;
  font-weight: bold;
}
input {
  color: black;
  /*width: 50;*/
  background-color: #f8f8f8;
  border: 2px solid #ccc;
  padding: 2px;
}
input[type=text] {
  float: left;
  color: blue;
  border: 2px solid #ccc;
  box-sizing: border-box;
}
input[type=date] {
  float: left;
  color: blue;
  size: 35em;
  border: 3px solid #ccc;
  box-sizing: border-box;
}
textarea {
  width: 725px;
  height:110px;
  background-color: #f8f8f8;
  border: 4px solid #ccc;
  flex-direction: column;
  resize: vertical;
  word-break: keep-all;
  white-space: normal;
  word-wrap: normal;

}
